  *, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
  }

  body {
    background-color: #f4f4f4;
    font-family: "Josefin Sans", sans-serif;
  }

/* ------------Navbar---------- */
  nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    z-index: 1000; 
  }

  nav ul li a {
    text-decoration: none;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #191919;
    font-weight: 600;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid rgba(255, 68, 0, 0);
  }

  .menu-icon {
    font-size: 30px;
    display: none;
  }

  nav #menu-list {
    display: flex;
    gap: 5rem;
    list-style: none;
  }

  nav ul li a:hover {
    color: orangered;
    border-bottom: 1px solid orangered;
  }

  main {
    padding-top: 64px;
  }


  div img {
    border-radius: 50%;
  }

  .Ga {
    width: 70px;
    height: 70px;
    margin-left: 100px
  }

  .Ga img {
    width: 70px;
    height: 70px;
  }

  #hero .container {
    height: 100%;
  }

  .hidden {
    display: none;
  }

/* ---------- FOOTER ---------- */
.footer {
  background-color: #1f1f1f;
  color: #fff;
  padding: 4rem 6vw 2rem;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  max-width: 1400px;
  margin: 0 auto;
}

.footer__brand h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.footer__brand p {
  font-size: 1rem;
  line-height: 1.6;
  color: #ccc;
}

.footer__links h3,
.footer__social h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.footer__links ul {
  list-style: none;
  padding: 0;
}

.footer__links ul li {
  margin-bottom: 0.8rem;
}

.footer__links ul li a {
  text-decoration: none;
  color: #ccc;
  transition: color 0.3s ease;
}

.footer__links ul li a:hover {
  color: orangered;
}

.footer__icons {
  display: flex;
  gap: 1.5rem;
  font-size: 1.8rem;
}

.footer__icons a {
  color: #ccc;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer__icons a:hover {
  color: orangered;
  transform: translateY(-4px);
}

.footer__bottom {
  border-top: 1px solid #333;
  margin-top: 3rem;
  padding-top: 1.5rem;
  text-align: center;
  font-size: 0.9rem;
  color: #aaa;
}

/*-----------home------------- */
  .hero__wrapper {
    display: grid;
    gap: clamp(2.5rem, 5vw, 6rem);
    padding-block: 8rem 4rem;
    width: 100%;
    align-items: center;
    background-color: #eee9e7;
    grid-template-columns: 1fr 1fr;
    padding-inline: clamp(1.5rem, 6vw, 6rem);
  }

  .hero__content {
    grid-area: content;
    text-align: left;
    padding-top: 0.2rem;
    margin-top: 2rem;
    margin-left: -70.5rem; 
  }

  .hero__intro {
    font-size: 1.4rem;
    color: rgba(137, 129, 129, 0.8);
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  
  .hero__title {
    font-family: "Jost", sans-serif;
    position: relative;
    transform: translateX(1.2rem); 
    grid-area: title;
    margin: 0;
    font-size: clamp(3rem, 6vw, 5.5rem);
    font-weight: 800;
    color: #2b1f1f;
    line-height: 1.1;
    display: inline-block; /* penting */
  }

  .hero__title::after {
    content: "";
    position: absolute;
    bottom: -0.4em;
    left: 50%;
    width: 40%;
    max-width: 8rem;
    height: 0.35rem;
    background-color: #a0ab25ff;
    top: 100%;           
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    opacity: 0;
    transition:  transform 0.3s ease, opacity 0.3s ease;
  }

  .hero__title:hover::after {
    transform: translateX(-50%) scaleX(1);
    opacity: 1;
  }
  
  .hero__description {
    margin-top: 2rem; 
    margin-bottom: 3rem;
    font-size: 1.5rem;
    margin-right: clamp(1.5rem, 4vw, 4rem);
    max-width: 60ch;  
  }

  .klik {
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
    flex-wrap: wrap;
    color: #3a2f2f;
    animation: fadeIn 1s ease-out 1.3s backwards;
  }

  .btn {
    padding: 1rem 2.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    border: none;
    display: inline-block;
    position: relative;
    overflow: hidden;
  }

  .btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    transform: translate(-50%, -50%);
    transition: width 0.6s, height 0.6s;
  }

  .btn:hover::before {
    width: 300px;
    height: 300px;
  }

  .btn.primary {
    background-color: #a0ab25ff;
    color: #fff;
    border: none;
  }

  .btn.primary:hover {
    background-color: #8b951f;
    transform: translateY(-3px);
  }

  .btn.outline {
    background-color: transparent;
    border: 2px solid #fff;
  }

  .btn.outline:hover {
    background-color: #fff;
    color: #8d6b6b;
  }

  .hero__info {
    border-top: 1px solid var(--color-border);
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
  }
  
  .hero__info-number {
    font-weight: var(--fw-bold);
    color: var(--color-white);
    margin-bottom: 1rem;
  }
  
  .hero__info-title {
    font-weight: var(--fw-regular);
    color: var(--color-text);
  }

  .hero__img-wrapper {
    grid-area: image;
    justify-self: end;
    align-self: start;
    margin-top: 5rem; 
  }

  .hero__img {
    grid-column: 1;
    grid-row: 1;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    grid-area: image;
    justify-self: end;
    align-self: start;  
    width: clamp(220px, 32vw, 500px);
    height: clamp(220px, 32vw, 500px);
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    margin-top: 0;
    animation: float 6s ease-in-out infinite;
    margin-left: 0;
    transform: none;
  }

  @media (hover: hover) {
    .hero__img:hover {
      transform: translateY(-8px) scale(1.03);
      box-shadow: 0 30px 60px rgba(0, 0, 0, 0.6);
    }
  }

  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  @media only screen and (max-width : 768px) {

    body {
      overflow-x: hidden;
    }

    /* ----------nav------- */
    .Ga {
      display: flex;
      align-items: center;
      margin: 0; 
    }

    #hero .container {
      max-width: 100%;
      padding: 0;
    }

    nav {
      position: fixed;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap; 
      padding: 1rem 1.5rem;
    }

    nav ul {
      flex-direction: column;
      width: 100%;
    }

    nav ul.hidden {
      display: none;
    }

    .menu-icon.active span:nth-child(1) {
      transform: rotate(45deg) translate(6px, 6px);
    }

    .menu-icon.active span:nth-child(2) {
      opacity: 0;
    }

    .menu-icon.active span:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -6px);
    }

    .menu-icon {
      width: 32px;
      height: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      z-index: 1001;
    }

    .menu-icon span {
      width: 100%;              
      height: 3px;
      background-color: #2b1f1f;
      border-radius: 4px;
      transition: all 0.4s ease;
    }

    #menu-list {
      position: fixed;
      top: 0;
      right: -100%;
      height: 100vh;
      width: 260px;
      background-color: #eee9e7;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      transition: right 0.4s ease;
      z-index: 200;
    }

    #menu-list.active {
      right: 0;
    }

    #menu-list li a {
      font-size: 1.3rem;
      color: #2b1f1f;
      text-decoration: none;
    }

    .overlay {
      position: fixed;
      inset: 0;
      background: rgba(0,0,0,0.4);
      opacity: 0;
      pointer-events: none;
      transition: 0.4s ease;
      z-index: 150;
    }

    .overlay.active {
      opacity: 1;
      pointer-events: all;
    }

    /*----footer---- */
    .footer__container {
      grid-template-columns: 1fr;
      text-align: center;
    }

    .footer__icons {
      justify-content: center;
    }

    /* ----home------ */
    .hero__wrapper {
      display: flex;                
      flex-direction: column;    
      align-items: center;
      text-align: center;
      padding-block: 6rem 3rem;
      padding-inline: 1.5rem;
      grid-template-columns: unset;
      gap: 0;
    }

    .hero__img-wrapper {
      order: -1;
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;  
      align-items: center;
      margin-bottom: 2rem;
      grid-area: unset;
      justify-self: unset;
      align-self: unset;
       transform: translateY(-2rem);
    }


    .hero__img {
      box-shadow: none;
      border: none;
      width: clamp(200px, 60vw, 700px);
      aspect-ratio: 1 / 1;   
      border-radius: 50%;
      object-fit: cover;        
      animation: none;
      transform: none;
    }


    .hero__content {
      margin: 0;
    }

    .hero__title {
      transform: none;
      margin-inline: auto;
    }

    .hero__description {
      margin-inline: auto;
      font-size: 1.3rem;
      max-width: 60ch;
    }

    .klik {
      justify-content: center;
    }
  }

  

